.container {
	max-width: 120rem;
	margin: 0 auto;
}
.grid {
	position: relative;
	max-width: 130rem;
	margin: 0 auto;
	overflow: hidden;
}
.row {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 0 2rem;
	gap: 3rem;
}
.row:not(:last-child) {
	margin-bottom: 2rem;
}
.col-1-of-3 {
	flex: 0 1 calc((100% - 6rem) / 3);
}
.col-1-of-1 {
	flex: 0 1 100%;
}
