.container {
	max-width: 120rem;
	margin: 0 auto;
}
.container-bigger {
	position: relative;
	max-width: 130rem;
	margin: 0 auto;
	overflow: hidden;
}
.gap2 {
	--gap: 2rem;
	gap: var(--gap);
}
.gap4 {
	--gap: 4rem;
	gap: var(--gap);
}
.row {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: var(--gap);
}
.row:not(:last-child) {
	margin-bottom: var(--gap);
}
.col1of3 {
	width: calc((100% - (2 * var(--gap))) / 3);
}
.col2of3 {
	width: calc((((100% - (2 * var(--gap))) / 3) * 2) + var(--gap));
}
.col1of2 {
	width: calc((100% - var(--gap)) / 2);
}
@media (max-width: 120rem) {
	.container {
		padding: 0 2rem;
	}
}
@media (max-width: 800px) {
	.col1of3 {
		width: calc((100% - var(--gap)) / 2);
	}
	.col1of2 {
		width: 100%;
	}
	.col2of3 {
		width: calc((100% - var(--gap)) / 2);
	}
}
@media (max-width: 700px) {
	.col1of3 {
		width: 100%;
	}
	.col2of3 {
		width: 100%;
	}
}
