.btn {
	display: inline-block;
	padding: 1.5rem 2.6rem;
	font-size: 1.8rem;
	font-weight: 600;
	letter-spacing: 0.7px;
}
/* btn primary */
.btn-primary {
	color: var(--color-white);
	background-color: var(--color-secondary);
}
/* btn arrow */
.btn-arrow,
.btn-arrow-reverse {
	position: relative;
	font-weight: 800;
	padding-left: unset;
	padding-right: unset;
}
.btn-arrow > svg,
.btn-arrow-reverse > svg {
	position: absolute;
	top: 23%;
	width: 2.5rem;
	height: 2.5rem;
	fill: var(--color-primary);
}
.btn-arrow > svg {
	right: -4rem;
	transition: right 0.3s;
}
.btn-arrow-reverse > svg {
	left: -4rem;
	transition: left 0.3s;
}
/* hover */
.btn-arrow:hover > svg {
	right: -4.5rem;
}
.btn-arrow-reverse:hover > svg {
	left: -4.5rem;
}
