.card-header {
	max-width: 40rem;
	width: 100%;
}
.card-date {
	display: inline-block;
	color: var(--color-primary);
	font-size: 2rem;
	padding: 0 2rem;
	margin-bottom: 2rem;
}
.card-img {
	width: 100%;
	min-height: 20rem;
	background-size: cover;
	background-position: center;
	margin-bottom: 2.2rem;
}
.card-body {
	padding: 0 2rem;
}
.card-title {
	color: var(--color-fifth);
	font-size: 2.5rem;
	line-height: 1.2;
	font-family: "Open Sans", sans-serif;
	font-weight: 700;
	margin-bottom: 2rem;
}
.card-desc {
	font-size: 1.8rem;
	line-height: 1.5;
	font-weight: 500;
	margin-bottom: 2rem;
}
.card-btn {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.card-btn-tags a {
	font-size: 1.8rem;
	color: var(--color-secondary);
}
.card-separator {
	font-family: Arial, sans-serif;
	font-size: 1.8rem;
	font-weight: bold;
	color: var(--color-primary);
}
/* grid - h */
.col-1-of-1 {
	display: flex;
	align-items: start;
}
.col-1-of-1 .card-header {
	min-width: 40rem;
}
.col-1-of-1.card-body {
	flex-grow: 1;
	margin-top: 3rem;
}
.col-1-of-1 .card-title {
	font-size: 4rem;
}
@media (max-width: 800px) {
	.col-1-of-1 {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	.col-1-of-1 .card-header {
		max-width: 60rem;
		min-width: unset;
	}
	.col-1-of-1 .card-img {
		min-height: 30rem;
	}
	.col-1-of-1 .card-title {
		font-size: 3.5rem;
	}
}
@media (max-width: 400px) {
	.col-1-of-1 .card-btn {
		flex-wrap: wrap;
		justify-content: center;
		gap: 2rem;
	}
}