.how {
    display: grid;
    grid-template-columns: 1.3fr 1fr;
    max-width: 120rem;
    margin: 0 auto;
    padding: 5rem 8rem;
}
.how-box{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.how-heading {
    font-weight: 700;
    margin-bottom: 4rem;
}
.how-heading > *:first-child {
    display: block;
    font-size: 7rem;
}
.how-heading > *:last-child {
    font-weight: 800;
    font-size: 5.5rem;
}
.how-img {
    margin: 0 auto;
    width: 35rem;
    height: 24rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.how-text {
    font-size: 1.9rem;
    line-height: 1.65;
    font-weight: 500;
}