.pagination {
	display: inline-block;
	width: 60%;
	display: flex;
	align-items: center;
	margin-left: auto;
}
.pagination-left {
	flex-grow: 1;
}
.pagination-text {
	font-size: 1.7rem;
	margin-right: 1rem;
}
.pagination-btn {
	padding: 1rem 1.5rem;
	background-color: var(--color-primary);
	color: var(--color-white);
	font-weight: 700;
	font-size: 1.6rem;
	cursor: pointer;
	border: none;
	outline: none;
	user-select: none;
	transition: background-color 0.3s;
}
.pagination-btn-page:not(:last-child) {
	margin-right: 1rem;
}
/* hover */
.pagination-btn:hover {
	background-color: var(--color-secondary);
}
/* active */
.active-pagination {
	cursor: auto;
	pointer-events: none;
	background-color: var(--color-secondary);
}
/* spinner */
.results {
	position: relative;
	min-height: 15rem;
}
.spinner {
	position: absolute;
	transform: translate(-50%, -50%);
	font-size: 5rem;
	animation: rotate 0.5s infinite linear;
}
@keyframes rotate {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}
