/* fadeup */
.reveal-fadeup-50 {
	transform: translateY(50%);
	opacity: 0;
	transition: 0s;
}
.reveal-fadeup-10 {
	transform: translateY(10%);
	opacity: 0;
	transition: 0s;
}
.reveal-fadeup-50.active-reveal,
.reveal-fadeup-10.active-reveal{
	opacity: 1;
	transform: translateY(0);
	transition: 0.8s;
	transition-property: opacity, transform;
}
/* fadeRight/left */
.reveal-fadeRight-30 {
	transform: translateX(-30%);
	opacity: 0;
	transition: 0s;
}
.reveal-fadeLeft-30 {
	transform: translateX(30%);
	opacity: 0;
	transition: 0s;
}
.reveal-fadeRight-30.active-reveal,
.reveal-fadeLeft-30.active-reveal {
	opacity: 1;
	transform: translateY(0);
	transition: 0.8s;
	transition-property: opacity, transform;
}
@media (max-width: 800px) {
	.reveal-fadeup-50 {
		transform: translateY(10%);
	}
}