/* slider */
.section-hero {
	width: 100%;
	height: 18rem;
}
.slider {
	position: relative;
	width: 100%;
	height: 18rem;
}
.slider li {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
}
/* slider */
/* animation */
/* out */
.slider li {
	clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
	transition: clip-path 0.5s cubic-bezier(0.99, 0.01, 0.45, 0.9) 0.5s;
}
.slider li.slider-prev {
	clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
}
/* enter */
.slider li.slider-active {
	clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
	transition-delay: 0s;
}
/* animation */